<!DOCTYPE html>
<html>
<head>
    <title>{{ taxon_name }}</title>
    <style>
        img {
            width: 150px;  /* Adjust the width as needed */
            height: 150px; /* Adjust the height as needed */
            object-fit: cover; /* Ensures images cover the area without distorting aspect ratio */
        }
        .container {
            margin-top: 20px;
        }
        .back-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="back-button">
        <a href="javascript:history.back()">Go Back</a>
    </div>
    <h1>{{ taxon_name }}</h1>
    <h2>Subcategories</h2>
    <ul>
        {% for child in children %}
        <li><a href="{{ url_for('taxon_page', taxon_name=child) }}">{{ child }}</a></li>
        {% endfor %}
    </ul>
    <h2>Images</h2>
    <div class="container">
        {% for image in images %}
        <img src="{{ url_for('static', filename=image) }}" alt="{{ image }}">
        {% endfor %}
    </div>
    <div class="back-button">
        <a href="javascript:history.back()">Go Back</a>
    </div>
</body>
</html>
